*
	margin 0
	padding 0
body
	width 100%
	position relative
	display flex
.Header-fixed
	background aqua
	width 20%
	display inline-block
	text-align top
	position fixed
	height 100vh
	&__box
		text-align center
	img
		max-width 100%
.Body_Main
	background orange
	&__box
		width 80%
		display inline-block
		text-align top
		margin-left 20%
	.About-me
		background purple
		width 100%
		&__box
			padding 1em
	.Hola
		background yellow
		width 100% 
		&__box
			padding 1em